<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Tornado WebSocket</title>
    <link rel="stylesheet" href="{{ static_url('style.css') }}" />
  </head>
  <body>
    <h1>Hello, Tornado!</h1>
    <script>
      const socket = new WebSocket("ws://localhost:8888/websocket");

      // 接続開始
      socket.onopen = function (event) {
        console.log("WebSocket is open.");
        socket.send("Hello server!");
        // socket.close();
      };

      // エラー検知
      socket.onerror = function (event) {
        console.error("WebSocket error observed:", event);
      };

      // 受信
      socket.onmessage = function (event) {
        console.log("WebSocket message received:\n", event.data);
      };

      // 接続終了
      socket.onclose = function (event) {
        console.log("WebSocket is closed.");
      };
    </script>
  </body>
</html>
